/********************/
/* General Things **/
/*******************/

/******************/
/** 1. FONTS *******/
/******************/
/*
a. Font Family - Poppins

b. Font Size (px)/line height (rem) - 56 || 48/ || 40/2.5 || 36/2.5 || 30/2.25 || 24/2 || 20/1.75 || 18/1.75 || 16/1.5 || 14/1.25 || 12/1

c. Font weight - 400 | 500 | 600

d. Sizes Meaning - xs-12px || sm-14px || base-16px || lg-18px || xl-20px || 2xl-24px || 3xl-30px || 4xl-36px || 5xl-40px || 6xl-48px || 7xl-56px
*/

/**************************/
/** 2. Spacing (px) *******/
/**************************/

/* 0 / 2 / 4 / 6 / 8 / 10 / 12 / 14 / 16 / 20 / 24 / 28 / 32 / 36 / 40 / 44 / 48 / 56 / 64 / 80 / 96 / 112 / 128 / 144 / 160 / 176 / 192 / 208 / 224 / 240 / 256 / 288 / 320 / 384  */

/*************************/
/* GENERAL CSS ***********/
/**************************/

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-bg {
    background-color: #000;
}

.codewinglet {
    height: 50px;
    filter: invert();
}



